html 
    head 
        title= About 
    body 
        style 
            include ../styles/stylesAbout.css
        header#page-header
            div.page-header
                nav.main-menu
                    div.sub-menu
                        a(href='/') 
                            h1.ea Erick Askim
                    ul.menu    
                        li
                            a(href='/') Resume 
                        li
                            a(href='/blog') Blog 
                        li
                            a(href='/about') About
        h1.about About
        img.about(src="/img/me.jpeg")
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur laborum cum magni tenetur aliquid, adipisci veniam esse harum commodi cumque praesentium illum ad amet, sapiente facilis a voluptatibus. Blanditiis, rerum.
        footer#footer 
                div.footer
                    nav.main-menu
                        div.sub-menu
                            a(href='/') 
                                h1 Erick Askim
                        ul.menu    
                            li
                                a(href='/') Resume 
                            li
                                a(href='/blog') Blog 
                            li
                                a(href='/about') About
                    div.contactinfo
                        h3.address1 536 W La Strada Cir
                        h3.address2 Medford OR 97504
                        h3.email Email: erickaskim@gmail.com
                        h3.copy &copy Erick Askim 2021