.TopWrapper {
	margin: 0;
	background: linear-gradient(
		180deg,
		rgba(255, 69, 91, 0.08) 0%,
		rgba(255, 144, 69, 0) 9%
	);
}
.BottomWrapper {
	margin: 0;
	padding: 0 0 100px 0;
	background: linear-gradient(
		360deg,
		rgba(255, 69, 91, 0.07) 0%,
		rgba(255, 144, 69, 0) 15%
	);
}
.PageTitleWrapper {
	display: flex;
	justify-content: space-between;
}
.PageTitle {
	font-family: Raleway;
	font-weight: 900;
	font-size: 36px;
	font-style: normal;
	margin: 0;
	color: #ffff;
}
.PageTitle::after {
	content: 'THE BLOGENING';
	position: absolute;
	opacity: 0.05;
	font-size: 70px;
	left: -10px;
	top: 70px;
}
.PostAuthorDataWrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
}
.TextWrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
}
.Text {
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.6;
	color: #989cac;
	margin: 0;
}
.Text::after {
	content: '–';
	opacity: 0.5;
	margin: 0 10px;
}
.Title {
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.5;
	margin: 0 0 30px 0;
	color: #ffff;
}
.ArrowRight {
	display: block;
	width: 30px;
	margin: 3px 40px 0 0;
	fill: #989cac;
	opacity: 0.5;
}
.ImageWrap {
	position: relative;
	display: flex;
	width: 200px;
	height: 200px;
	padding: 0;
}
.PreviewWrap {
	margin: 40px 15px 40px 15px;
}
.PaginationUl {
	display: flex;
	list-style: none;
	padding: 0;
	justify-content: center;
}
.PaginationLi {
	padding: 0 10px 0 0;
}
.Link {
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.6;
	width: 50px;
	height: 30px;
	left: 0px;
	top: 0px;
}
.BlogList {
	list-style: none;
	position: relative;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.BlogListLi {
	display: flex;
	flex-direction: column;
	margin: 15px;
}
.BlogListText {
	/* margin: 0 15px; */
}
.BlogData {
	display: flex;
	align-items: center;
	padding: 0;
}
.FB {
	padding: 6px;
}
.PostTitle {
	margin: 0;
}
.Share {
	display: flex;
}
