.BlogTopWrap {
	margin: 0;
	background: linear-gradient(
		180deg,
		rgba(255, 69, 91, 0.08) 0%,
		rgba(255, 144, 69, 0) 10%
	);
}
.BottomWrap {
	margin: 0;
	padding: 0 0 130px 0;
	background: linear-gradient(
			360deg,
			rgba(255, 69, 91, 0.07) 0%,
			rgba(255, 144, 69, 0) 10%
		),
		url(/wierd.svg);
	background-position: bottom;
	background-repeat: no-repeat;
}
.Post {
	margin: 0 15px;
}
.PageTitleWrapper {
	display: flex;
	justify-content: space-between;
}
.PageTitle {
	font-family: Raleway;
	font-weight: 900;
	font-size: 36px;
	font-style: normal;
	margin: 0;
	color: #ffffff;
	margin-left: 15px;
}
.PageTitle::after {
	content: 'POST';
	position: absolute;
	opacity: 0.05;
	font-size: 70px;
	left: -10px;
	top: 50px;
}
.TextWrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
}
.Text {
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.6;
	color: #989cac;
	margin: 0;
}
.Text::after {
	content: '–';
	opacity: 0.5;
	margin: 0 10px;
}
.TitleImageWrap {
	position: relative;
	display: flex;
	width: 330px;
	height: 178px;
	padding: 0;
	margin-top: 50px;
}
.RelatedImageWrap {
	position: relative;
	display: flex;
	width: 330px;
	height: 178px;
	padding: 0;
	margin-top: 0;
}
.DataWrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
}
.BlogBody {
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.6;
}
.QuoteWrap {
	border: 2px solid #ff455b;

	margin: 50px 0;
}
.Quote {
	padding: 30px 30px 0 30px;
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 1.6;
	margin: 0;
}
.QuoteAuth {
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	padding: 20px 0 40px 30px;
	color: #ffffff;
	background: url(/quotetriangles.svg);
	background-repeat: no-repeat;
	background-size: 200px;
	background-position: bottom 20px right 20px;
}
.Title {
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.5;
	margin: 0 0 30px 0;
	color: #ffffff;
}
.BlogOl {
	padding: 30px 0 0 15px;
}
.BlogLi {
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.6;
	color: #989cac;
	padding-left: 10px;
	margin-bottom: 30px;
}
.BlogUl {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: flex-start;
	padding: 0;
	list-style: none;
}
.BlogUlTitle {
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	color: #ffffff;
	padding-right: 20px;
}
.BlogTagsLi {
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.6;
	color: #989cac;
}
.BlogTagsLi::before {
	content: '#';
	padding: 0 5px 0 0;
}
.BlogLiAfter::after {
	content: '–';
	opacity: 0.5;
	padding: 0 15px;
}
.AuthWrap {
	border: 2px solid rgba(255, 255, 255, 0.1);
}
.AuthHeader {
	padding: 30px 0 15px 30px;
	display: flex;
	align-items: center;
}
.AuthImageWrap {
	position: relative;
	width: 50px;
	height: 50px;
	background: #989cac;
}
.AboutAuth {
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	color: #ffffff;
	margin: 0 0 0 20px;
}
.AuthBody {
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.6;
	margin: 0 30px;
}
.Social {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 20px 0 30px 30px;
}
.SocialLink {
	font-size: 18px;
	color: #ffffff;
	opacity: 0.5;
	font-family: Mulish;
	font-style: normal;
	font-weight: bold;
	line-height: 1.6;
}
.SocialLink:not(:last-child):after {
	content: '–';
	opacity: 0.5;
	margin: 0 15px;
}
.NextPrevPost {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-top: 2px solid rgba(255, 255, 255, 0.1);
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
	padding: 30px 0;
	margin-bottom: 140px;
}
.PrevBlog,
.NextBlog {
	display: flex;
	font-family: Mulish;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.6;
	letter-spacing: 0.05em;
	color: #ffffff;
	opacity: 0.5;
}
.BlogArrowLeft,
.BlogArrowRight {
	fill: #989cac;
	display: block;
	width: 40px;
}
.BlogArrowLeft {
	padding-right: 10px;
}
.BlogArrowRight {
	padding-left: 10px;
}
.PrevWrap {
	grid-row: 1;
}
.NextWrap {
	grid-row: 1;
	grid-column: 2;
	justify-self: end;
}
.RelatedTitle {
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 1.2;
	color: #ffffff;
	margin: 14px 0 40px 0;
}
.DataWrap {
	padding: 30px 0 10px 0;
}
.BlogArrow {
	fill: #989cac;
	display: block;
	width: 40px;
	padding: 0 0 40px 0;
}
