doctype html
html 
    head 
        title= test 
        link(rel='stylesheet', src='../styles/styles.css')
    body 
        style 
            include ../styles/styles.css
        header#page-header
        div.page-header
            nav.main-menu
                div.sub-menu
                    a(href='/') 
                        h1 Erick Askim
                ul.menu    
                    li
                        a(href='/') Resume 
                    li
                        a(href='/') Blog 
                    li
                        a(href='/') About
        div.container
        div.center Your guide through the digital forest
        
    
            