doctype html
html 
    head 
        title= Resume
    body 
        style 
            include ../styles/styles.css
        header#page-header
            div.page-header
                nav.main-menu
                    div.sub-menu
                        a(href='/') 
                            h1 Erick Askim
                    ul.menu    
                        li
                            a(href='/') Resume 
                        li
                            a(href='/blog') Blog 
                        li
                            a(href='/about') About
        div.container
            div.center Your guide through the digital forest
        div.resumeformat
            h2.resume Resume 
            h2.projects Projects
            ul 
                li
                    p ErickAskim.com
            h2.workhistory Work History
            p Not a lot to say here
            h2.education Education
            p holder
            h2.skills Skills
            ul
                li
                    p Microsoft Office 
                li    
                    p HTML
                li
                    p JavaScript
                li
                    p CSS
                li
                    p NodeJS                   
        footer#footer 
            div.footer
                nav.main-menu
                    div.sub-menu
                        a(href='/') 
                            h1 Erick Askim
                    ul.menu    
                        li
                            a(href='/') Resume 
                        li
                            a(href='/blog') Blog 
                        li
                            a(href='/about') About
                div.contactinfo
                    h3.address1 536 W La Strada Cir
                    h3.address2 Medford OR 97504
                    h3.email Email: erickaskim@gmail.com
                    h3.copy &copy Erick Askim 2021
    
            