doctype html
html 
    head 
        title= test 
        link(rel='stylesheet', src='../styles/styles.css')
    body 
        style 
            include ../styles/styles.css
        div.header
            h2 HELLLLOOOOO!!!!
        