.home {
	font-size: 16px;
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	line-height: 1.6;
	color: #989cac;
}
.home:not(:last-child):after {
	content: '–';
	opacity: 0.5;
	margin: 0 25px;
}
.unordered {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	list-style: none;
	align-items: center;
	padding: 40px 10vw 0 0;
}
