.wrapper {
	background: linear-gradient(
		180deg,
		rgba(255, 69, 91, 0.07) 0%,
		rgba(255, 144, 69, 0) 35%
	);
}
.title {
	font-family: Mulish;
	font-size: 16px;
	padding: 0;
	opacity: 0.5;
}
.menu {
	list-style: none;
	flex-wrap: wrap;
	margin: 0;
	padding: 0 0 40px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 12px;
	font-style: normal;
	line-height: 1.6;
	font-weight: bold;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: #989cac;
	align-items: center;
	font-family: Mulish;
}
.contact,
.address,
.usefull,
.menu {
	margin-bottom: 50px;
}
.footer--h3 {
	font-family: Raleway;
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
}
.menuli {
	display: flex;
	font-family: Mulish;
	font-size: 14px;
	line-height: 1.6;
	color: #989cac;
}
.menuli::after {
	content: '–';
	opacity: 0.5;
	margin: 0 15px;
}
.footer--link {
	display: flex;
	font-family: Mulish;
	font-size: 14px;
	margin-bottom: 17px;
}
.footer--social {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.footer--social-link {
	font-size: 18px;
	color: #ffffff;
	opacity: 0.5;
	font-family: Mulish;
	font-style: normal;
	font-weight: bold;
	line-height: 1.6;
}
.footer--social__line {
	margin: 0 10px;
}
.footer--copyright {
	color: #989cac;
	font-family: Mulish;
	margin: 17px 0 40px 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.6;
}
