.wrapper {
	margin: 0;
	padding: 0 15px;
	background: url('../public/blogvector.svg'),
		linear-gradient(#0d0f16 30%, #331b25 100%);
}
.title {
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 1.3;
}
.text {
	margin: 0;
	padding-bottom: 40px;
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.6;
}
.items {
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.6;
}
.emailinput {
	position: relative;
	min-height: 48px;
	min-width: 97%;
	background: none;
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.6;
	border: 2px solid rgba(248, 248, 252, 0.1);
	text-indent: 20px;
}
.label {
	color: #989cac;
}
.terms {
	color: #ff455b;
	margin: 0;
	font-size: 14px;
}
.checkbox {
	-webkit-appearance: none;
	background-color: transparent;
	border: 2px solid rgba(153, 153, 153, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
		inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 5px;
	display: inline-block;
	position: relative;
	margin: 0;
}
.container {
	display: flex;
	align-items: center;
	font-size: 14px;
	margin-top: 12px;
}
.checkbox,
.label {
	margin-right: 5px;
}
.foo {
	display: flex;
}
