.wrapper {
	margin: 0;
	padding: 0 15px;
}
.title {
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 1.3;
}
.text {
	margin: 0;
	padding-bottom: 40px;
}
.items {
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.6;
}
.emailinput {
	position: relative;
	min-height: 50px;
	min-width: 97%;
	background: transparent;
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.6;
	border: solid rgba(153, 153, 153, 0.1);
}
.label {
	color: #989cac;
}
.terms {
	color: #ff455b;
}
.checkbox {
	-webkit-appearance: none;
	background-color: transparent;
	border: 2px solid rgba(153, 153, 153, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
		inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 5px;
	display: inline-block;
	position: relative;
	margin: 0;
}
.container {
	display: flex;
	align-items: center;
}
.checkbox,
.label {
	margin-right: 4px;
}
