.Circle {
	fill: none;
	stroke-linecap: round;
	stroke-width: 5px;
	stroke-dasharray: 314.1592653589793 314.1592653589793;
	grid-row: 1;
	grid-column: 1;
	position: relative;
	bottom: 110px;
	right: 125px;
	transform: rotate(-90deg) rotateX(180deg);
}
.PercentWrap {
	color: #ffffff;
	grid-row: 1;
	grid-column: 1;
	place-self: center;
	transform: translateY(-25px);
	font-family: Mulish;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.2;
	position: absolute;
	left: 33px;
	bottom: 50px;
}
.CircleWrap {
	position: relative;
	display: grid;
	align-items: center;
	justify-self: center;
}
