.ResumeWrapper {
	margin: 0;
	background: linear-gradient(
			180deg,
			rgba(255, 69, 91, 0.07) 0%,
			rgba(255, 144, 69, 0) 100%
		),
		url(/Mountain.svg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0 15px;
}
.resumeBody {
	font-family: Mulish;
	color: #989cac;
	font-size: 17px;
	margin: 0;
}
.selfPromo {
	font-family: Mulish;
	color: #989cac;
	font-size: 16px;
	margin: 0;
}
.frontEndTitle {
	font-family: Mulish;
	color: #989cac;
	font-size: 16px;
	margin: 0;
	text-decoration: underline;
}
.frontEndUl {
	color: #989cac;
	font-size: 17px;
}
.experienceUl {
	color: #989cac;
	font-size: 17px;
}
.educationUl {
	color: #989cac;
	font-size: 17px;
}
.resumeUl {
	font-size: 16px;
}
.kylesLink {
	color: #989cac;
	text-decoration: underline;
}
.linkLi {
	text-decoration: underline;
	font-size: 16px;
}
.linkLi:hover {
	color: rgb(223, 222, 224);
}
.refrenceUl {
	color: #989cac;
	font-size: 17px;
}
.kyle {
	margin-bottom: 15px;
}
.Resume {
	margin: 50px 0 150px 0;
}
@media screen and (min-width: 360px) {
	.ResumeSlider {
		position: relative;
		max-width: 750px;
	}
	.Resume {
		justify-content: center;
		align-items: center;
		display: flex;
	}
}
