html {
	height: 100%;
}
h2 {
	color: #f3f3f3;
	font-family: Raleway;
	font-size: 36px;
	font-weight: 700;
	font-style: bold;
	line-height: 2.1;
	text-transform: uppercase;
	margin-bottom: 20px;
}
h3 {
	font-family: Raleway;
	font-size: 18px;
	color: #f3f3f3;
}
header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	min-height: 7rem;
	margin: 0 17px 80px;
}
body {
	background: #0d0f16;
	margin: -20px 0;
}
button {
	padding: 0;
}
address {
	all: initial;
}
p {
	color: #989cac;
}
a {
	text-decoration: none;
	font-family: Mulish;
	color: #989cac;
	font-size: 1.5rem;
}
a:hover {
	color: rgb(223, 222, 224);
}
.header--title {
	font-size: 16px;
	padding: 0;
	text-align: center;
	flex-grow: 1;
}
.header--menu {
	background-color: transparent;
	border: none;
}
.header--call {
	background-color: transparent;
	border: none;
}
.flavortext {
	color: #ff455b;
	font-family: Mulish;
	text-transform: uppercase;
	font-size: 12px;
	margin: 0;
}
.flavortext--wrapper {
	display: flex;
	align-items: center;
}
.triangle {
	width: 18px;
	height: 18px;
	margin-right: 18px;
}
.resume--ul {
	margin-top: 39vh;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	list-style: none;
	color: #989cac;
	padding: 17px;
}
.resume {
	background: url(../public/Mountain.svg),
		radial-gradient(circle at top right, #331b25 30%, #0d0f16 80%);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: calc(100vh - 170px);
}
.resume--slider {
	margin: 17px;
}
.resume--body,
.blog--p,
.about--p {
	font-family: Mulish;
	color: #989cac;
	font-size: 20px;
	margin: 0;
}
.about--wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about--h3 {
	color: #ff455b;
	font-family: Mulish;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 1.6%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.blogpreview--wrapper {
	background: url(../public/blogvector.svg),
		linear-gradient(#0d0f16 60%, #331b25 136%);
	background-repeat: no-repeat;
	background-position: bottom;
}
.servicepreview--wrapper,
.portfoliopreview--wrapper,
.wwdpreview--wrapper,
.blogpreview--wrapper {
	padding: 17px;
}
.footer--wrapper {
	background: linear-gradient(#331b25 -50%, #0d0f16 30%);
	color: #989cac;
	padding: 17px;
}
.footer--title {
	font-family: Mulish;
	font-size: 16px;
	padding: 0;
	opacity: 0.5;
}
.footer--menu-ul {
	list-style: none;
	flex-wrap: wrap;
	margin: 0;
	padding: 0 0 40px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 12px;
	font-style: normal;
	line-height: 160%;
	font-weight: bold;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: #989cac;
	align-items: center;
	font-family: Mulish;
}
.footer--contact,
.footer--address,
.footer--usefull-links,
.footer--menu__ul {
	margin-bottom: 50px;
}
.footer--h3 {
	font-family: Raleway;
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
}
.footer--p {
	display: flex;
	font-family: Mulish;
	font-size: 14px;
	line-height: 160%;
	color: #989cac;
}
.footer--link {
	display: flex;
	font-family: Mulish;
	font-size: 14px;
	margin-bottom: 17px;
}
.footer--social {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.footer--social-link {
	font-size: 18px;
	color: #ffffff;
	opacity: 0.5;
	font-family: Mulish;
	font-style: normal;
	font-weight: bold;
	line-height: 160%;
}
.footer--social__line {
	margin: 0 10px;
}
.footer--copyright {
	color: #989cac;
	font-family: Mulish;
	margin: 17px 0 40px 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.6;
}
.page--wrapper {
	position: relative;
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: inherit;
	overflow: hidden;
}
.page--children {
	min-height: calc(100vh - 231px);
}
.nav--list {
	color: #989cac;
	display: flex;
	list-style: none;
	justify-content: space-around;
	padding: 0;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	min-height: 80vh;
}
.nav--menu {
	transition: transform 0.5s ease-in;
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 700;
	background-color: #0f1118;
}
.nav--menu__on_screen {
	top: 0;
	left: 0;
}
.nav--menu__off_screen {
	top: -110vh;
	left: 0;
}
.nav--exit {
	background-color: transparent;
	border: none;
	margin: 17px 0 0 17px;
}
.nav--search {
	background-color: #0f1118;
	color: #626367;
	min-width: 90vw;
	min-height: 8vh;
	border: solid #2c2e33;
	font-family: mulish;
	font-size: 20px;
	text-indent: 40px;
}
