html {
	height: 100%;
}
h2 {
	color: #f3f3f3;
	font-family: Raleway;
	font-size: 36px;
	font-weight: 700;
	font-style: bold;
	line-height: 2.1;
	margin-bottom: 20px;
}
h3 {
	font-family: Raleway;
	font-size: 18px;
	color: #f3f3f3;
}
header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	min-height: 7rem;
	margin: 0 17px;
}
body {
	background: #0d0f16;
	margin: -20px 0;
}
button {
	padding: 0;
}
address {
	all: initial;
}
p {
	color: #989cac;
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	line-height: 1.6;
}
a {
	text-decoration: none;
	font-family: Mulish;
	color: #989cac;
	font-size: 1.5rem;
}
a:hover {
	color: rgb(223, 222, 224);
}
.header--title {
	font-size: 16px;
	padding: 0;
	text-align: center;
	flex-grow: 1;
}
.header--menu {
	background-color: transparent;
	border: none;
}
.header--call {
	background-color: transparent;
	border: none;
}
.triangle {
	width: 18px;
	height: 18px;
	margin-right: 18px;
}
.resume--ul {
	margin-top: 39vh;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	list-style: none;
	color: #989cac;
	padding: 17px;
}
.resume {
	background: url(../public/Mountain.svg),
		radial-gradient(circle at top right, #331b25 30%, #0d0f16 80%);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: calc(100vh - 170px);
}
.resume--slider {
	margin: 17px;
}
.resume--body,
.blog--p,
.about--p {
	font-family: Mulish;
	color: #989cac;
	font-size: 20px;
	margin: 0;
}
.about--wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about--h3 {
	color: #ff455b;
	font-family: Mulish;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 1.6;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.blogpreview--wrapper {
	background: url(../public/blogvector.svg),
		linear-gradient(#0d0f16 60%, #331b25 136%);
	background-repeat: no-repeat;
	background-position: bottom;
}
.servicepreview--wrapper,
.portfoliopreview--wrapper,
.wwdpreview--wrapper,
.blogpreview--wrapper {
	padding: 17px;
}

.page--wrapper {
	position: relative;
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: inherit;
	overflow: hidden;
}
.page--children {
	min-height: calc(100vh - 231px);
}
.nav--list {
	color: #989cac;
	display: flex;
	list-style: none;
	justify-content: space-around;
	padding: 0;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	min-height: 80vh;
}
.nav--menu {
	transition: transform 0.5s ease-in;
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 700;
	background-color: #0f1118;
}
.nav--menu__on_screen {
	top: 0;
	left: 0;
}
.nav--menu__off_screen {
	top: -110vh;
	left: 0;
}
.nav--exit {
	background-color: transparent;
	border: none;
	margin: 17px 0 0 17px;
}
.nav--search {
	background-color: #0f1118;
	color: #626367;
	min-width: 90vw;
	min-height: 8vh;
	border: solid #2c2e33;
	font-family: Mulish;
	font-size: 20px;
	text-indent: 40px;
}
.fourzerofour--wrapper {
	background: url(../public/blogvector.svg), #0d0f16;
	background-repeat: no-repeat;
	background-position: bottom;
	min-height: calc(100vh + 20px);
}
.fourzerofour--title-wrapper {
	position: relative;
}
.fourzerofour--title {
	font-size: 36px;
	font-family: Raleway;
	font-weight: 900;
	text-transform: uppercase;
	color: white;
	margin: 0;
	padding-left: 15px;
}
.fourzerofour--title::after {
	content: 'OOPS!';
	opacity: 0.05;
	font-size: 70px;
	position: absolute;
	left: -10px;
	top: -40px;
}
.fourzerofour--error {
	background: url(../public/404triangle.svg);
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-position: center;
	margin: -60px 15px 0 15px;
}
.fourzerofour--h2 {
	color: #ff455b;
	font-size: 80px;
	margin: 0;
	padding-top: 85px;
}
.fourzerofour--h3 {
	color: #989cac;
	font-size: 20px;
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	line-height: 1.6;
	transform: translateY(-55px);
}
.fourzerofour--text {
	margin: -30px 0 30px 0;
}
.fourzerofour--search-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 0 15px;
}
.fourzerofour--search {
	background: transparent;
	color: #989cac;
	border: solid #2c2e33;
	font-family: Mulish;
	font-size: 14px;
	min-width: 100%;
	background-color: transparent;
	text-indent: 30px;
	min-height: 60px;
}
.fourzerofour--search-icon {
	position: absolute;
	width: 20px;
	height: 20px;
	right: 50px;
	top: 548px;
	opacity: 0.5;
	background-color: transparent;
	border: none;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	white-space: nowrap;
}
