body {
  margin: 0;
  background-color: #040404;
}
a:link {
  color: #8e8e8e;
  text-decoration: none;
}
a:visited {
  color: #568ece;
}
.main-menu {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  background-color: #040404;
}
.sub-menu {
  display: flex;
  flex: 1;
}
.menu,
a:link {
  text-decoration: underline;
  margin: 0px;
  padding: 15px;
  list-style: none;
  display: flex;
  gap: 0vmin;
  align-items: center;
}
.container {
  background-image: url("/img/photo.jpeg");
  background-position-x: left;
  background-position-y: center;
  background-size: cover;
  width: 100vw;
  min-height: 400px;
  object-position: bottom;
}
.center {
  text-align: center;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #8e8e8e;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  text-shadow: 2px 2px #040404;
}

.footer {
  display: grid;
  border: 15px solid #040404;
  min-width: 0px;
  min-height: 100%;
  margin: 0px;
}
.resumeformat {
  background-color: #2b3036;
  padding: 15px;
  color: #8e8e8e;
  border-radius: 25px;
  margin: 2vw;
}
.resume {
  font-size: 32px;
  margin: auto;
}
.contactinfo,
.address1,
.address2,
.email,
.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  color: #8e8e8e;
  padding: 0;
  margin: 3px;
}
.address1 {
  display: flex;
}
