body {
  margin: 0;
  background-color: #040404;
}
.contactinfo,
.address1,
.address2,
.email,
.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  color: #8e8e8e;
  padding: 0;
  margin: 3px;
  font-family: CrimsonText;
}
a:link {
  color: #8e8e8e;
  text-decoration: none;
}
a:visited {
  color: #568ece;
}
.menu,
a:link {
  text-decoration: underline;
  margin: 0px;
  padding: 15px;
  list-style: none;
  display: flex;
  gap: 0vmin;
  align-items: center;
}
.sub-menu {
  display: flex;
  flex: 1;
  font-family: CrimsonText;
}
a:link {
  color: #8e8e8e;
  text-decoration: underline;
}
a:visited {
  color: #568ece;
}
.main-menu {
  font-family: CrimsonText;
  display: flex;
  align-items: center;
  background-color: #040404;
}
div.blogs {
  display: flex;
  font-family: CrimsonText;
  font-size: 18px;
  font-weight: normal;
  color: #8e8e8e;
  background-color: #2b3036;
  padding: 15px;
  border-radius: 25px;
  margin: 2vw;
  /* flex-wrap: wrap; */
}
h1.blog {
  color: #8e8e8e;
  text-align: center;
  font-size: 50px;
  font-family: CrimsonText;
}
h2.blog1 {
  color: #8e8e8e;
  font-size: 25px;
  text-align: left;
  padding: 15px 0px 0px 30px;
  font-family: CrimsonText;
}
img {
  max-width: 20rem;
  padding: inherit;
  align-content: top;
  max-height: 10rem;
}
p {
  display: flex;
  font-family: CrimsonText;
  font-size: 18px;
  font-weight: normal;
  color: #8e8e8e;
  /* background-color: #2b3036; */
  /* padding: 15px; */
  border-radius: 25px;
  margin: 2vw;
  text-align: left;
}

@media screen and (max-width: 638px) {
  img {
    max-height: 10rem;
    align-content: top;
    max-width: inherit;
  }
  div.blogs {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
